.cart {
  &-base {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    min-height: 98vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-error {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: flex-end;
      text-align: center;
      &-text {
      }
    }
    &-link {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;

      &-link {
        background: linear-gradient(93.47deg, #00d1ff -10.14%, #004c93 63.39%);
        border-radius: 55px;
        outline: none;
        border: none;
        width: 100%;
        max-width: 200px;
        min-width: 200px;
        max-height: 30px;
        min-height: 30px;
        height: 100%;
        margin-right: 10px;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-content {
      background: #ffffff;

      display: flex;
      width: 100%;
      min-width: 1000px;
      max-width: 1000px;

      padding: 10px;
      justify-content: space-between;
      align-items: center;
      border: #004c93 2px solid;

      &-image {
        &-picture {
          max-width: 177px;
        }
      }
      &-name {
        text-align: center;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 39px;
        text-align: center;

        background: linear-gradient(99.76deg, #00d1ff 3.76%, #004c92 57.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        &-items {
          display: flex;
          padding: 10px;
          justify-content: center;
          align-items: flex-end;
          color: #00d1ff;

          &-inc {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 77px;
            width: 100%;
            min-width: 40px;
            max-width: 40px;
            color: #00d1ff;
            margin-right: 10px;
            &-icon {
            }
          }
          &-dec {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 77px;
            width: 100%;
            min-width: 40px;
            max-width: 40px;
            color: #00d1ff;
          }
          &-lic {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 77px;
            width: 100%;
            min-width: 40px;
            margin-right: 10px;
            max-width: 40px;
            color: #00d1ff;
            z-index: 2;
          }
        }
      }
      &-price {
        text-align: center;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 39px;
        text-align: center;

        background: linear-gradient(99.76deg, #00d1ff 3.76%, #004c92 57.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &-inc {
      }
      &-dec {
      }
      &-cart {
        text-align: center;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 39px;
        text-align: center;

        background: linear-gradient(99.76deg, #00d1ff 3.76%, #004c92 57.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        &-button {
          background: linear-gradient(123.37deg, #00d1ff 14.8%, #004c92 69.85%);

          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 77px;
          width: 100%;
          min-width: 60px;
          height: 100%;
          min-height: 60px;
          border: none;
          max-width: 60px;
          color: #ffffff;
        }
      }
    }
    &-summary {
      background: linear-gradient(98.46deg, #00d1ff 43.52%, #004c92 73.82%);
      color: white;
      width: 100%;
      max-width: 1000px;
      min-width: 1000px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      &-heading {
        font-size: 20px;
      }
      &-price {
        &-text {
        }
      }
      &-cashout {
        background: #ffffff;
        border-radius: 65px;
        width: 100%;
        max-width: 100px;
        margin-bottom: 10px;
      }
    }
  }
}
