.error {
  &-alert {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    min-height: 98vh;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    &-error {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: flex-end;
      &-text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        text-align: center;
        font-size: 25px;

        align-items: center;
        line-height: 39px;

        background: linear-gradient(94.38deg, #00d1ff -4.28%, #004c92 53.56%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}
