.slider-bar {
  width: auto;
  height: auto;
  margin-left: -20px;
  padding: 20px;
  padding-right: 20px;
  display: flex;
  margin-top: -15px;
  color: #000000;
  background-color: #048ece;
}
.searchh {
  float: left;
  height: 30px;
  margin-left: 10px;
}
.Promotions {
  float: left;
  margin-left: 20px;
  background: #52bad4;
  color: white;
  border: none;
  padding: 3px;
}
.sliderbar-buttons {
  background-color: #048ece;
}
.Boxs {
  margin-left: 20px;
  background: #52bad4;
  border: none;
  color: white;
  padding: 3px;
}
.Premix {
  margin-left: 20px;
  background: #52bad4;
  border: none;
  color: white;
  padding: 3px;
}
.Kity {
  margin-left: 20px;
  background: #52bad4;
  border: none;
  color: white;
  padding: 3px;
}
.Searching-button {
  background: #52bad4;
  float: left;
  border: none;
  color: white;
  padding: 3px;
}
