.slider-bar {
  width: 101.3%;
  height: auto;
  margin-left: -20px;
  padding: 20px;
  padding-right: 20px;
  display: flex;
  margin-top: -15px;
  background-color: #dfdfdf;
}
.searchh {
  float: left;
  height: 30px;
  margin-left: 10px;
}
.Promotions {
  float: left;
  margin-left: 20px;
  background: rgb(63, 94, 251);
}
.sliderbar-buttons {
  background-color: #dfdfdf;
}
.Boxs {
  margin-left: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 80%, #7857d0 100%);
}
.Premix {
  margin-left: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 50%, #7857d0 100%);
}
.Kity {
  margin-left: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 60%, #8256c8 100%);
}
