@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@media screen and (max-width: 1023px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    &-container {
      display: flex;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 45px;
      min-height: 98vh;
      justify-content: center;
      align-content: space-around;
      flex-direction: column;
      &-logo {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: end;
        &-logo {
          margin-right: 15px;
          max-width: 60px;
        }
        &-text {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 27px;
          align-items: center;
          line-height: 39px;

          background: linear-gradient(94.38deg, #00d1ff -4.28%, #004c92 53.56%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      &-items {
        justify-content: center;

        &-inputs {
          display: flex;
          justify-content: center;
          align-items: center;
          &-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-input {
              margin-bottom: 25px;
              color: #ffffff;
              border: none;
              outline: none;
              width: 100%;
              max-width: 350px;
              border-radius: 12px;
              min-width: 250px;
              height: 40px;
              text-align: center;
              background: linear-gradient(
                95.37deg,
                #00d1ff -2.92%,
                #004c93 89.22%
              );
              border-radius: 77px;
            }

            &-input::placeholder {
              color: #ffffff;
              background: linear-gradient(
                95.37deg,
                #00d1ff -2.92%,
                #004c93 89.22%
              );
              font-size: 16px;
            }
            &-account {
              font-size: 15px;
              margin-top: 10px;
            }
            &-button {
              display: flex;
              width: 150px;
              height: 44px;
              background: #ffffff;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 77px;
              border: none;
              text-decoration: none;
              border-radius: 42px;
              justify-content: space-evenly;
              align-items: center;
              margin: auto;
              color: #fff;
              h2 {
                margin-top: 10px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 24px;

                background: linear-gradient(
                  123.37deg,
                  #00d1ff 14.8%,
                  #004c92 69.85%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
            }
            &-img {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .login {
    &-container {
      display: flex;
      background-color: #fff;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      justify-content: center;
      align-content: space-around;
      flex-direction: column;

      &-logo {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px;

        &-logo {
          max-width: 80px;
        }
        &-text {
          background: linear-gradient(180deg, #00538a 0%, #a8dedd 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;

          font-size: 50px;
        }
      }
      &-items {
        justify-content: center;

        &-inputs {
          display: flex;
          justify-content: center;
          align-items: center;
          &-input {
            margin-bottom: 25px;
            color: #00a3ff;
            outline: none;
            width: 100%;
            max-width: 320px;
            border-radius: 12px;
            min-width: 200px;
            height: 40px;
            text-align: center;
            border-color: #00a3ff;
            border: 3px solid #7fc2d8;
          }

          &-input::placeholder {
            color: #00a3ff;
            font-size: 20px;
          }
          &-button {
            display: flex;
            width: 150px;
            height: 44px;
            background: #7fc2d8 !important;
            border-radius: 42px;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
            color: #fff;
          }
          &-img {
            width: 200px;
          }
        }
      }
    }
  }
}
