@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins&family=Roboto:wght@100&display=swap");
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
  $home: #05386b;
  $text: #115faf;
  $codepen: #5cdb95;
  $github: #8ee4af;
  $background: #edf5e1;
  @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Roboto:wght@100&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins&family=Roboto:wght@100&display=swap");

  .navbar-container {
    &-desktop {
      display: flex;
      justify-content: center;
      width: 100%;

      transition: 0.5s;
      background: linear-gradient(93.47deg, #00d1ff -10.14%, #004c93 63.39%);
      &-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &-image {
          width: 100%;
          max-width: 70px;
          display: flex;
          align-items: center;
        }
        &-title {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 29px;

          color: #ffffff;
        }
      }
      &-table {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &-list {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;

          &-logout {
            background: #ffffff;
            border-radius: 95px;
            outline: none;
            border: none;
            width: 100%;
            max-width: 130px;
            min-width: 130px;
            max-height: 30px;
            min-height: 30px;
            height: 100%;
            font-family: "Inter";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            margin-right: 10px;
            color: #004c92;
          }
          &-button {
            background: #ffffff;
            border-radius: 55px;
            outline: none;
            border: none;
            width: 100%;
            max-width: 30px;
            min-width: 30px;
            max-height: 30px;
            min-height: 30px;
            height: 100%;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #004c92;
          }
        }
      }
    }
  }
}
